# Common
storage/
README.md
CHANGELOG.md
docker-compose.yml
Dockerfile

# Git
.git
.gitattributes
.gitignore

# JetBrains
.idea

# Laravel
src/bootstrap/cache
src/storage/framework
src/storage/logs
src/vendor
src/**/*.sqlite
src/**/*.sqlite-journal

# Node
src/logs
src/*.log
src/npm-debug.log*
src/yarn-debug.log*
src/yarn-error.log*
src/node_modules/